<div class="container-fluid p-4 overflow-auto vh-100">

  <!-- Overview Header -->
  <div class="row mb-4 mt-4">
    <div class="col-12">
      <div class="d-flex align-items-center">
        <div>
          <h2>Overview</h2>
        </div>
      </div>
    </div>
  </div>

  <!-- Stats Row -->
  <div class="row mb-4">
    <div class="col-6">
      <div class="card bg-transparent border-light">
        <div class="card-header">
          Top Players Statistics
        </div>
        <div class="card-body">
          <canvas class="my-4 w-100" id="topPlayersChart"></canvas>
        </div>
      </div>
    </div>
    <div class="col-6">
      <div class="card bg-transparent border-light">
        <div class="card-header">
          Average Scores Distribution
        </div>
        <div class="card-body">
          <canvas class="my-4 w-100" id="avgScoresChart"></canvas>
        </div>
      </div>
    </div>
  </div>
  <!-- Tables Row -->
  <div class="row">
    <!-- Tournaments Column -->
    <div class="col-12 mb-4">
      <div class="card bg-transparent border-light">
        <div class="card-header">
          Latest Tournaments
        </div>
        <div class="card-body">
          <div class="table-responsive">
            <table class="table table-hover table-sm table-dark table-borderless">
              <thead>
                <tr>
                  <th scope="col">Tournament</th>
                  <th scope="col">Status</th>
                  <th scope="col">Players</th>
                  <th scope="col">Start Date</th>
                  <th scope="col">Winner</th>
                </tr>
              </thead>
              <tbody id="latest-tounaments"></tbody>
            </table>
          </div>
          <div id="no-tournaments" class="text-center p-4 d-none">
            <p>No tournaments available</p>
          </div>
        </div>
      </div>
    </div>

    <!-- Matches Column -->
    <div class="col-12">
      <div class="card bg-transparent border-light">
        <div class="card-header">
          Latest Matches
        </div>
        <div class="card-body">
          <div class="table-responsive">
            <table class="table table-sm table-dark table-borderless">
              <thead>
                <tr>
                  <th scope="col">Date</th>
                  <th scope="col">Players</th>
                  <th scope="col">Score</th>
                  <th scope="col">Winner</th>
                  <th scope="col">Status</th>
                </tr>
              </thead>
              <tbody id="latest-matches"></tbody>
            </table>
          </div>
          <div id="no-matches" class="text-center p-4 d-none">
            <p>No matches available</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>